.vscode/
AndroidStudioProjects/
C++/
C#/
SQL/
Unity/
Python/
Codeingame/
Codewars/
OdinProject/
Advent of code/
Web/Webdev Bootcamp/*.zip
Web/Webdev Bootcamp/CSS - My Site/images/20220327_144709.jpg
Web/Webdev Bootcamp/CSS - My Site/images/20220603_160852.jpg
Web/Webdev Bootcamp/CSS - My Site/images/20220613_195026.jpg
Web/Webdev Bootcamp/CSS - My Site/images/cockpit.jpg
Web/Webdev Bootcamp/CSS - My Site/images/cockpit.xcf
Web/Webdev Bootcamp/CSS - My Site/images/helibanner.jpg
Web/Webdev Bootcamp/CSS - My Site/images/helibanner.xcf
Web/Webdev Bootcamp/CSS - My Site/images/heliflight.jpg
Web/Webdev Bootcamp/CSS - My Site/images/helinight.jpg
Web/Webdev Bootcamp/CSS - My Site/images/IMG-20220613-WA0003.jpg
Web/Webdev Bootcamp/CSS - My Site/css/style.css
