body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  background-color: #a7a7a7;
  height: 100%;
}

html {
  height: 100%;
}

p {
  line-height: 2;
}

a {
  color: #024457;
  font-family: "Merriweather", serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #d3e0ea;
}

hr {
  border: dotted #d3e0ea;
  border-bottom: none;
  border-width: 8px;
  width: 4%;
  margin: 100px auto;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 6rem;
  margin: 50px auto 0 auto;
  color: #276678;
  text-shadow: 2px 2px 3px grey;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #276678;
  font-weight: normal;
  padding-bottom: 10px;
  text-shadow: 2px 2px 3px grey;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #276678;
}

#profilepic {
  border-radius: 40%;
  width: 200px;
  height: 200px;
}

.profile {
  width: 27%;
  margin: auto;
}

.top-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../images/helibanner.png");
  position: relative;
  padding-top: 100px;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
  height: 90vh;
}

.top-text {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  margin: auto;
  margin-top: 250px;
  text-align: center;
  min-width: 370px;
  max-width: 600px;
}

.middle-container {
  margin: 100px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("../images/cockpit.png");
  position: relative;
  padding-top: 100px;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom-container {
  background-color: #1687a7;
  padding: 50px 0 16px;
}

.copyright {
  color: #d3e0ea;
  font-size: 0.75rem;
  padding: 20px 0;
}

.skill-wrapper {
    background-color: rgba(0, 0, 0, 0.8);
    /* float: left; */
  width: 602px;
  margin:  auto;
  overflow: hidden;
}

.heli {
  overflow: hidden;
  width: 200px;
  float: left;

}

.heli-pic {
    border-radius: 100%;
  width: 200px;
  height: 200px;
  float: top;
}

.webdev {
    border-left: 1px solid white;
    border-right: 1px solid white;
  overflow: hidden;
  width: 200px;
    float: left;
}

.webdev-pic {
    border-radius: 100%;
  float: top;
  width: 200px;
  margin-top: 20px;
}

.hobby {
    float: left;
    overflow: hidden;
    width: 200px;
}

.hobby-pic {
    float: top;
    width: 25%;
  margin-top: 20px;

}

.contact-me {
  width: 40%;
  margin: 40px auto;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cd;
  background-image: -webkit-linear-gradient(top, #30e3cd, #2bc48d);
  background-image: -moz-linear-gradient(top, #30e3cd, #2bc48d);
  background-image: -ms-linear-gradient(top, #30e3cd, #2bc48d);
  background-image: -o-linear-gradient(top, #30e3cd, #2bc48d);
  background-image: linear-gradient(to bottom, #30e3cd, #2bc48d);
  text-decoration: none;
}
