<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Linq2SQL.Properties.Settings.TutorialDBConnectionString"
            connectionString="Data Source=OTHIEL-PC\TUTORIALSQL;Initial Catalog=TutorialDB;Persist Security Info=True;User ID=sa;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="Linq2SQL.Properties.Settings.TutorialDBConnectionString1"
            connectionString="Data Source=OTHIEL-PC\TUTORIALSQL;Initial Catalog=TutorialDB;Persist Security Info=True;User ID=sa;Password=Mdibty220!;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>